<html>
  <head>
    <title>CCS</title>
    <script src="js/vendor/jquery-1.6.2.min.js"></script>
    <script src="js/vendor/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/backbone-forms.js"></script>
    <script type="text/javascript" src="jst.js"></script>
    <script src="js/vendor/modernizr-latest.js"></script>
    <script type="text/javascript" src="/faye.js"></script>
    <script src="js/app.js"></script>
  </head>

<!doctype html>
<html lang="en">
  <body>
    <%= yield %>
  </body>
</html>
