<html>
  <head>
    <title>CCS</title>
    <link type="text/css" href="style/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="style/ccs.css" rel="stylesheet" />
    <link type="text/css" href="style/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link type="text/css" href="style/backbone-forms.css" rel="stylesheet" />
    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/backbone-forms.js"></script>
    <script type="text/javascript" src="jst.js"></script>
    <script src="js/vendor/jquery.isotope.min.js"></script>
    <script src="js/vendor/fake-element.js"></script>
    <link rel="stylesheet" href="style/isotope.css" />
    <script type="text/javascript" src="js/ccs.js"></script>
    <script src="js/vendor/modernizr-latest.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="js/vendor/backbone-widgets.js"></script>
    <script src="js/vendor/backbone-calendar.js"></script>
    <script src="js/vendor/backbone-bidder.js"></script>
  </head>

<!doctype html>
<html lang="en">
  <body>
    <%= yield %>
  </body>
</html>
